doctype html 
html
    head 
        title Hostel Permission Portal 
        link(rel="stylesheet", href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css")
        block style 
        block scripts 
    body 
    div.sidebar
        div.logo-details
            i.bx.bxl-c-plus-plus 
            span.logo_name HostelPortal
        ul.nav-links
            li 
                a.dashboard.active(href='/home')
                    span.links_name Dashboard
            li 
                a.query1(href='/query1')
                    span.links_name Query1
            li 
                a.query2(href='/query2')
                    span.links_name Query2
            li 
                a.query3(href='/query3')
                    span.links_name Query3
            li 
                a.query4(href='/query4')
                    span.links_name Query4
            li 
                a.query5(href='/query5')
                    span.links_name Query5
            li 
                a.query6(href='/query6')
                    span.links_name Query6

    block content
