doctype html 
html
    head 
        title Hostel Permission Portal 
        style 
            include ..\static\styles\user.css
        scripts 
    body 
        .head
            div IIT Gandhinagar
        .user
            .welcome
                p Welcome to Permission Portal
            .option
                button.admin(href='#') Admin
                .student 
                    a(href='/login') Student
